.previewable-comment-form textarea {
  min-height: 300px;
  max-height: none;
  font-size: 12px;
}

footer, aside[aria-label="Explore"]{
  display: none;
}

.Box-row{
border-top-width:0;
}

.BorderGrid-cell, .Box--responsive{
border:0;
border-radius:0;
}

.BorderGrid--spacious .BorderGrid-cell{
padding-top:10px;
padding-bottom:10px;
}