c-wiz[data-node-index="4;0"]{
    display: none;
}

#botstuff{
    display: none;
}

#gws-output-pages-elements-homepage_additional_languages__als{
    display: none;
}

form center{
    display: none;
}