*::-webkit-scrollbar { display:none}
#related{
    display: none;
}
ytd-comments{
    display: none;
}
#footer{
    display: none;
}


ytd-info-panel-container-renderer{
    display: none;
}

/* video menu */
#menu-container{
    display: none;
}

/* menu bar Account details */
menu-container #end{
    display: none;
}

/* Input Box border and bg */
form #container{
    border: none;
    background: transparent;
}

/* Search Icon and Voice Search Icon */
#search-icon-legacy, #voice-search-button{
    display: none;
}

ytd-rich-grid-renderer #header{
    display: none;
}

#columns #secondary{
    display: none;
}

#primary.ytd-watch-flexy{
max-width:100% !important;
width:100% !important;
}